<header class="site-header wrap">

  <div class="container">

    <a class="site-home" href="{{ site.baseurl }}/">
      <svg version="1.1" class="site-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 86.3 60" enable-background="new 0 0 86.3 60" xml:space="preserve">
        <g>
          <path d="M43.1,48.1l-8.8,12H23L8,13.7c-1-3-1.8-5.1-2.4-6.3C4.9,6.1,4.3,5.2,3.5,4.6C2.8,4,1.6,3.5,0,3.1V0h24.7v3.1c-2.4,0.5-4.1,1.2-4.9,2c-0.9,0.8-1.3,2-1.3,3.7c0,1.1,0.1,2.3,0.4,3.5c0.2,1.2,0.6,2.7,1.1,4.3l9.8,31.9l13.3-21.2l0,0l14.5,21.2l11-30.5c0.6-1.6,1.1-3.1,1.4-4.5c0.4-1.4,0.6-2.8,0.6-4c0-1.7-0.5-3.1-1.4-4.1c-0.9-1-2.5-1.7-4.8-2.1V0h21.8v3.1c-1.2,0.3-2,0.6-2.6,0.9c-0.6,0.3-1.2,0.8-1.7,1.4c-0.6,0.6-1.2,1.5-1.9,2.8c-0.7,1.3-1.6,3.2-2.6,5.9l-15,46H51L43.1,48.1z"/>
        </g>
      </svg>
      <div class="site-info">
        <span class="site-title">{{ site.title }}</span>
        <span class="site-slogan">Pronounced: /ˈtɪm.ɪd.wɪt/</span>
      </div>
    </a>

    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
