/**
 * General Text Formatting
 */
@include establish-baseline();

html{
  //Uncomment below if you would like to use rems
  // font-size:62.5%;
}
body {
  //This will make text pretty across browsers
  //and match what clients tend to want
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  //If speed is a concern uncomment.
  //text-rendering: optimizeSpeed;
  // -webkit-font-smoothing: none;
  // -webkit-font-smoothing: subpixel-antialiased;
  font-family: $font-body;
  //This mixin will allow for rems but defaults to px.
  @include adjust-font-size-to(18px);
  color: lighten($black, 20%);
}

/**
 * Blockquote
 */
blockquote{
  &:before {
  }
}
/**
 * Headings
 */

#{headings()} {

}

h1 {
  @include adjust-font-size-to(48px);
  text-align: center;
  margin-bottom: .25em;
}

h2 {
  @include adjust-font-size-to(24px, 7/5);
  font-weight: 400;
  font-family: $sans-serif;
  color: lighten($black, 55%);
  text-align: center;
  margin-bottom: .45em;
}

h3 {
  @include adjust-font-size-to(32px);
}

h4 {

}

h5 {

}

h6 {

}

p {
  @include adjust-font-size-to(18px, 5/4);
  margin-bottom: 1em;
}
