/**
 * Variables
 */

$inherit: inherit;

/**
 * Colors
 */
//These are helpful shades of gray in steps of 10%
$black: #000;
$gray_90: lighten($black, 10%);
$gray_80: lighten($black, 20%);
$gray_70: lighten($black, 30%);
$gray_60: lighten($black, 40%);
$gray_50: lighten($black, 50%);
$gray_40: lighten($black, 60%);
$gray_30: lighten($black, 70%);
$gray_20: lighten($black, 80%);
$gray_10: lighten($black, 90%);
$white: #fff;

////
// Font Sizes, Color, Family
////

////
// Font Families
////
$times-new-roman: "Times New Roman", Times, Georgia, serif;
$times:           Times, "Times New Roman", Georgia, serif;
$georgia:         Georgia, "Times New Roman", serif;
$verdana:         Verdana, Tahoma, sans-serif;
$tahoma:          Tahoma, Verdana, sans-serif;
$helvetica:       Helvetica, Arial, sans-serif;
$arial:           Arial, Helvetica, sans-serif;
$courier:         "Courier New", monospace, sans-serif;
$baskerville:     'Libre Baskerville', $georgia;
$serif: $baskerville;
$sans-serif: $arial;
// These font sizes are all in rem, if you don't like it, the easiest way to
// change it is to alter the mixin and drop the rem line.

$base-font-size: 16px;
$base-line-height: 24px;
$base-font-color:$gray_10;
$h1-size:3.0;
$h2-size:2.6;
$h3-size:2.4;
$h4-size:2.0;
$h5-size:1.8;
$h6-size:1.6;
/**
 * These are not in use yet, but may be some day...
 */
//Color
$h1-color:$inherit;
$h2-color:$inherit;
$h3-color:$inherit;
$h4-color:$inherit;
$h5-color:$inherit;
$h6-color:$inherit;
//
$h1-family:$times;
$h2-family:$times;
$h3-family:$times;
$h4-family:$times;
$h5-family:$times;
$h6-family:$times;


// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $baskerville; // The font family set on the html element.
$font-body:        $baskerville;
$font-monospace:   $courier;
$form-font-family: $arial;

// Base color variables.
$link           : $inherit;
$visited        : $link;
$selection-bg   : $inherit;
$selection      : $white;

//Example Layout Variables
$container_width: 960px;

$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px
) !default;

